<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ran.partner">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".AddCarActivity"
            android:label="Add Car">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ran.partner.MainActivity" />
        </activity>

        <activity android:name="com.ran.partner.LoginActivity" />

        <activity
            android:name="com.ran.partner.DriverAdditionActivity"
            android:label="Add Driver">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ran.partner.MainActivity" />
        </activity>
        <activity
            android:name="com.ran.partner.DriverAllotmentActivity"
            android:label="Allot Driver">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ran.partner.MainActivity" />
        </activity>
        <activity
            android:name="com.ran.partner.PlaceAdditionActivity"
            android:label="Add Place">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ran.partner.MainActivity" />
        </activity>

    </application>

</manifest>